---
import Slide from "../components/slide/Slide.astro";
---

<Slide title="Kľúčové výhody" desc="Prečo použiť scroll-state queries?">
  <ul>
    <li>
      <strong>Bez JavaScriptu</strong>
      <ul><li>Interaktívne rozhrania priamo v CSS</li></ul>
    </li>
    <li>
      <strong>Responzívny design</strong>
      <ul><li>Reaguje na scroll na úrovni CSS</li></ul>
    </li>
    <li>
      <strong>Lepšie UX</strong>
      <ul><li>Plynulejšie animácie a prechody</li></ul>
    </li>
    <li>
      <strong>Minimálny kód</strong>
      <ul><li>Menej kódu na dosiahnutie rovnakého výsledku</li></ul>
    </li>
  </ul>
</Slide>
