---
import Slide from "../components/slide/Slide.astro";
import { codeToHtml } from "shiki";

const scrollStateBasicSyntax = `/* Základná syntax */
.container {
  container-type: scroll-state;
  container-name: my-container;
}

@container my-container scroll-state(scrollable: top) {
  .scroll-indicator {
    opacity: 1;
  }
}`;

const highlightedBasicSyntax = await codeToHtml(scrollStateBasicSyntax, {
  lang: "css",
  theme: "github-light",
});
---

<Slide title="Základná syntax" desc="Ako to funguje">
  <p slot="left">
    Scroll-state queries umožňujú reagovať na rôzne stavy scrollovania priamo v
    CSS. Základom je definovanie container-type a následné použitie @container
    pravidiel.
  </p>
  <div slot="right" set:html={highlightedBasicSyntax} />
</Slide>
