---
import Slide from "../components/slide/Slide.astro";
import { codeToHtml } from "shiki";

interface Props {
  order?: number;
}

const { order } = Astro.props;

const scrollStateBasicSyntax = `/* Základná syntax */
.container {
  container-type: scroll-state;
  container-name: my-container;
}

@container my-container scroll-state(scrollable: top) {
  .scroll-indicator {
    opacity: 1;
  }
}`;

const highlightedBasicSyntax = await codeToHtml(scrollStateBasicSyntax, {
  lang: "css",
  theme: "min-light",
});
---

<Slide title="Základná syntax" desc="Ako to funguje?" order={order}>
  <div slot="left">
    <p>
      Definícia pomocou <code>container-type: scroll-state</code> a použite
      <br />pomocou
      <code>@container</code> pravidla s <code>scroll-state()</code> query.
    </p>
    <br />
    <br />
    <p>
      <code>container-name</code> je voliteľné - cielenie na konkrétny container.
    </p>
    <br />
    <br />
    <p>
      <strong>Skratka:</strong>
      <code>container: name / scroll-state</code>
    </p>
  </div>
  <div slot="right" set:html={highlightedBasicSyntax} />
</Slide>
