---
import Slide from "../components/slide/Slide.astro";
import { codeToHtml } from "shiki";

interface Props {
  order?: number;
}

const { order } = Astro.props;

const scrollStateBasicSyntax = `/* Základná syntax */
.container {
  container-type: scroll-state;
  container-name: my-container;
  /* Skratka */
  container: my-container / scroll-state; 
}

@container my-container scroll-state(scrollable: top) {
  .scroll-indicator {
    opacity: 1;
  }
}`;

const highlightedBasicSyntax = await codeToHtml(scrollStateBasicSyntax, {
  lang: "css",
  theme: "min-light",
});
---

<Slide title="Základná syntax" desc="Ako to funguje?" order={order}>
  <div slot="left">
    <p>
      Rovnako ako u container queries je základom definovanie vlastnosti
      <code>container-type</code> a následné použitie
      <code>@container</code> pravidla.
    </p>
    <p>
      Jednotlivé dotazy sú zapísané pomocou <code>scroll-state()</code> query.
    </p>
    <br />
    <br />
    <p>
      Pokiaľ chceme vyhľad priradiť ku konkrétnemu containeru, môžeme použiť
      vlastnosť
      <code>container-name</code>.
      <br />
      <br />
      <strong>Táto možnosť je voliteľná.</strong>
    </p>
  </div>
  <div slot="right" set:html={highlightedBasicSyntax} />
</Slide>
