---
import Slide from "../components/slide/Slide.astro";
import { codeToHtml } from "shiki";

interface Props {
  order?: number;
}

const { order } = Astro.props;

const bestPractices = `/* Podpora scroll-state */
@supports (container-type: scroll-state) {

  /* Vypnúť animácie v scroll-state */
  @media (prefers-reduced-motion: reduce) {
    
    @container scroll-state(*) {
      transition: none;
      animation: none;
    }
  }
}`;

const highlightedBestPractices = await codeToHtml(bestPractices, {
  lang: "css",
  theme: "github-light",
});
---

<Slide title="Best practices" desc="Fallback & accessibility" order={order}>
  <div slot="left">
    <p>
      Vždy používajte <code>@supports</code> pre detekciu podpory prehliadača.
    </p>
    <br />
    <br />
    <p>
      Rešpektujte <code>prefers-reduced-motion</code> pre accessibility.
    </p>
    <p>
      Vypnite animácie v scroll-state pre používateľov s citlivosťou na pohyb.
    </p>
  </div>
  <div slot="right" set:html={highlightedBestPractices} />
</Slide>
