---
import Slide from "../components/slide/Slide.astro";
import { codeToHtml } from "shiki";

interface Props {
  order?: number;
}

const { order } = Astro.props;
---

<Slide title="Podpora prehliadaÄov" desc="TODO" order={order}>
  <div slot="left">
    <p>TODO</p>
  </div>
</Slide>
