---
import Slide from "../components/slide/Slide.astro";
import { codeToHtml } from "shiki";

interface Props {
  order?: number;
}

const { order } = Astro.props;
---

<Slide
  title="Podpora prehliadačov"
  desc="TODO"
  image={{
    url: "/slides/assets/support.avif",
    alt: "Podpora prehliadačov",
    width: 400,
    height: 500,
  }}
  order={order}
>
  <div slot="left">
    <p>TODO</p>
  </div>
</Slide>
