---
import Slide from "../components/slide/Slide.astro";

interface Props {
  order?: number;
}

const { order } = Astro.props;
---

<Slide
  title="Podpora prehliadačov"
  desc="Global: 67.79%"
  image={{
    url: "/slides/assets/support.avif",
    alt: "Podpora prehliadačov",
    width: 400,
    height: 500,
  }}
  order={order}
>
  <div slot="left">
    <p>
      CSS container scroll-state queries podporujú všetky prehliadače
      <br />založené na <strong>Chromium</strong>.
      <br />
      <br />
      Safari a Firefox túto funkcionalitu <strong>zatiaľ nepodporujú</strong>.
    </p>
  </div>
</Slide>
