---
import Slide from "../components/slide/Slide.astro";
---

<Slide title="Čo sú scroll state container queries?" desc="Základné informácie">
  <p>
    Nový prírastok do rodiny <strong>container queries</strong>.<br />
    Umožňujú štýlovanie na základe <strong>scroll stavu</strong>.<br />
    <br />
    Tri hlavné typy:
  </p>
  <ul>
    <li><code>scrollable</code> - detekuje možnosť scrollovania</li>
    <li><code>stuck</code> - sleduje sticky elementy</li>
    <li><code>snapped</code> - identifikuje snap pozície</li>
  </ul>
</Slide>
