---
import Slide from "../components/slide/Slide.astro";
---

<Slide title="Čo sú Scroll-State Queries?" desc="Základné informácie">
  <ul>
    <li>Súčasť rodiny container queries</li>
    <li>Umožňujú selektívne štýlovanie na základe scroll stavu</li>
    <li>
      Tri hlavné typy:
      <ul>
        <li><code>scrollable</code> - detekuje možnosť scrollovania</li>
        <li><code>snapped</code> - identifikuje snap pozície</li>
        <li><code>stuck</code> - sleduje sticky elementy</li>
      </ul>
    </li>
  </ul>
</Slide>
