---
import Slide from "../components/slide/Slide.astro";
interface Props {
  order?: number;
}

const { order } = Astro.props;
---

<Slide title="O čom to dnes bude?" desc="Tri hlavné typy stavov" order={order}>
  <ul>
    <li><code>scrollable</code> - detekuje možnosť scrollovania</li>
    <li><code>stuck</code> - sleduje sticky elementy</li>
    <li><code>snapped</code> - identifikuje snap pozície</li>
  </ul>
</Slide>
