---
import { Fragment } from "astro/jsx-runtime";
import Slide from "../components/slide/Slide.astro";
---

<Slide title="Odpor칰캜an칠 캞al코ie kroky" desc="Ako za캜a콘">
  <ul>
    <li>Experimentujte v modern칳ch projektoch</li>
    <li>Implementujte s fallback rie코eniami</li>
    <li>Sledujte kompatibilitu prehliada캜ov</li>
    <li>Testujte v r칪znych prostrediach</li>
    <li>Dokumentujte svoje implement치cie</li>
  </ul>
  <p style="margin-top: 2rem; font-style: italic;">
    游 Bud칰cnos콘 CSS je tu - vyu쬴te ju u dnes!
  </p>
</Slide>
