---
import Slide from "../components/slide/Slide.astro";

interface Props {
  order?: number;
}

const { order } = Astro.props;
---

<Slide order={order} center>
  <Fragment slot="title"> Ďakujem! </Fragment>
  <p class="text-center">
    <img
      class="mx-auto"
      src="/slides/assets/heart-symbol.svg"
      alt="Frontendisti heart symbol"
      width="250"
      height="230"
    />
  </p>
</Slide>
