---
import Slide from "../components/slide/Slide.astro";
import { codeToHtml } from "shiki";

interface Props {
  order?: number;
}

const { order } = Astro.props;

const scrollStateTypes = `/* Možné scrollovanie zhora */
@container scroll-state(scrollable: top | block-start) { /* ... */ }
/* Možné scrollovanie zdola */
@container scroll-state(scrollable: bottom | block-end) { /* ... */ }
/* Možné scrollovanie zľava */
@container scroll-state(scrollable: left | inline-start) { /* ... */ }
/* Možné scrollovanie zprava */
@container scroll-state(scrollable: right | inline-end) { /* ... */ }
/* Možné scrollovanie po x osi */
@container scroll-state(scrollable: x | inline) { /* ... */ }
/* Možné scrollovanie po y osi */
@container scroll-state(scrollable: y | block) { /* ... */ }
`;

const highlightedTypes = await codeToHtml(scrollStateTypes, {
  lang: "css",
  theme: "min-light",
});
---

<Slide
  title="Scrollable state"
  desc="Detekcia možnosti scrollovania"
  order={order}
>
  <div slot="left">
    <p>
      Použitím kľúčového slova <code>scrollable</code> v dotaze zistíme, či je container
      aktuálne možné scrollovať z niektorej zo štyroch možných strán.
    </p>
    <br />
    <p>
      Dotaz podporuje logické osy
      <code>inline</code> a <code>block</code>, čo je možné využiť pri práci s
      CSS vlastnosťou <code>writing-mode</code>.
    </p>
  </div>
  <div slot="right" set:html={highlightedTypes} />
</Slide>
