---
import Slide from "../components/slide/Slide.astro";
import { codeToHtml } from "shiki";

interface Props {
  order?: number;
}

const { order } = Astro.props;

const scrollStateTypes = `/* TODO */`;

const highlightedTypes = await codeToHtml(scrollStateTypes, {
  lang: "css",
  theme: "github-light",
});
---

<Slide
  title="Scrollable state"
  desc="Pokročilé možnosti"
  sampleUrl="https://codepen.io/web-dot-dev/pen/OPLZWBj"
  order={order}
>
  <div slot="left">
    <p>
      Jednotlivé dotazy je možné kombinovať pomocou<br />
      logických operátorov
      <code>and</code> a
      <code>or</code>.
      <br />
      <br />
      <p>
        Zároveň možeme podmienky v dotazoch negovať pomocou <code>not</code>.
      </p>
    </p>
  </div>

  <div slot="right" set:html={highlightedTypes} />
</Slide>
