---
import Slide from "../components/slide/Slide.astro";
import { codeToHtml } from "shiki";

interface Props {
  order?: number;
}

const { order } = Astro.props;

const snapTypes = `.carousel {
  overflow: auto clip;
  scroll-snap-type: x mandatory;

  > .card {
    container-type: scroll-state;
    scroll-snap-align: center;

    > * {
      transition: opacity .5s ease;
      @container not scroll-state(snapped: x) {
        opacity: .25;
      }
    }
  }
}`;

const highlightedTypes = await codeToHtml(snapTypes, {
  lang: "css",
  theme: "min-light",
});
---

<Slide
  title="Snap state"
  desc="Reálny príklad"
  sampleUrl="https://codepen.io/luko248/pen/jEOQOGw?editors=1100"
  order={order}
>
  <div slot="left">
    <p>
      Horizontálny <code>carousel</code> s niekoľkými <code>card</code>
      elementmi.
    </p>
    <br />
    <p>
      <code>card</code> elementy ktoré <strong>nemajú</strong> práve <code
        >snapped</code
      > pozíciu, majú nastavenú <code>opacity: .25</code>.
    </p>
  </div>
  <div slot="right" set:html={highlightedTypes} />
</Slide>
