---
import Slide from "../components/slide/Slide.astro";
import { codeToHtml } from "shiki";

interface Props {
  order?: number;
}

const { order } = Astro.props;

const snapTypes = `.carousel {
  overflow: auto clip;
  scroll-snap-type: x mandatory;

  > .card {
    container-type: scroll-state;
    scroll-snap-align: center;

    @supports (container-type: scroll-state) {
      > * {
        transition: opacity .5s ease;

        @container not scroll-state(snapped: x) {
          opacity: .25;
        }
      }
    }
  }
}`;

const highlightedTypes = await codeToHtml(snapTypes, {
  lang: "css",
  theme: "light-plus",
});
---

<Slide
  title="Snap state"
  desc="Re치lny pr칤klad"
  sampleUrl="https://codepen.io/luko248/pen/jEOQOGw?editors=1100"
  order={order}
>
  <div slot="left">
    <p>
      M치me horizont치lny <code>carousel</code> s nieko쬶칳mi <code>card</code>
      elementmi.
    </p>
    <br />
    <p>
      V코etky <code>card</code> elementy maj칰 <code>opacity: .25</code>, ten
      ktor칳 je pr치ve <code>snapped</code> m치 <code>opacity: 1</code>.
    </p>
    <br />
    <br />
    <p>
      <strong>Tip 游</strong><br />
      <code>scroll-snap-align: center</code> zabezpe캜uje, 쬰 sa
      <code>card</code> element zobrazi v strede.
    </p>
  </div>
  <div slot="right" set:html={highlightedTypes} />
</Slide>
