---
import Slide from "../components/slide/Slide.astro";

interface Props {
  order?: number;
}

const { order } = Astro.props;
---

<Slide
  order={order}
  title="Kto Som?"
  desc="Luk치코 Chyl칤k"
  image={{ url: "/slides/assets/me.avif", alt: "Luk치코 Chyl칤k" }}
  speaker={true}
>
  <p>
    <ul>
      <li>
        <span
          >AI frontend dev lead & VIGo Design System lead developer<br
          />at</span
        >
        <strong>AIS Servis</strong>
      </li>
      <li>
        <span>Frontendisti Brno meetups host</span>
      </li>
      <li>
        <span>Lecturer & Mentor</span>
      </li>
      <li>
        <span>CSS wizard 游븿游낖</span>
      </li>s
    </ul>
  </p>
</Slide>
