---
import Slide from "../components/slide/Slide.astro";
import { highlightCode } from "../utils/shiki-helper";

interface Props {
  order?: number;
}

const { order } = Astro.props;

const stuckedTypes = `nav {
  container-type: scroll-state;
  position: sticky;
  top: 0;

  > ul {
    @container scroll-state(stuck: top) {
      background-color: Highlight;
      color: HighlightText;
    }
  }
}`;

const highlightedTypes = await highlightCode(stuckedTypes, "css");
---

<Slide
  title="Stuck state"
  desc="Reálny príklad"
  sampleUrl="https://codepen.io/luko248/pen/QwWMGjb?editors=1100"
  order={order}
>
  <div slot="left">
    <p>
      Po prichytení <code>nav</code> containeru zhora sa zmení vzhľad jeho
      <code>ul</code> potomka.
    </p>
  </div>
  <div slot="right" set:html={highlightedTypes} />
</Slide>
