---
import Slide from "../components/slide/Slide.astro";
---

<Slide centerContent>
  <Fragment slot="title">
    CSS scroll-state
    <br />
    container queries
  </Fragment>
  <p class="text-center">Nový spôsob reagovania na stavy scrollovania v CSS</p>
</Slide>
