---
import Slide from "../components/slide/Slide.astro";
---

<Slide title="Príklady použitia" desc="Reálne scenáre">
  <ul>
    <li>
      <strong>Scroll-to-top tlačidlo</strong>
      <ul><li>Zobrazenie len keď je možné scrollovať nahor</li></ul>
    </li>
    <li>
      <strong>Carousel indikátory</strong>
      <ul><li>Zvýraznenie aktuálnej položky</li></ul>
    </li>
    <li>
      <strong>Navigačná lišta</strong>
      <ul><li>Transformácia pri scrollovaní</li></ul>
    </li>
    <li>
      <strong>Sticky elementy</strong>
      <ul><li>Vizuálne rozdiely keď sú "prilepené"</li></ul>
    </li>
  </ul>
</Slide>
