@import "tailwindcss";

@theme {
  --black-trans: hsl(0 0% 0% / 0.5);
  --color-theme-500: hsl(0deg 100% 63.53%);
  --color-theme-200: hsl(0deg 100% 80%);
  --color-indigo-500: rgb(174, 45, 246);
  --text-8xl: 12svb;
  --text-6xl: 8svb;

  /* League Spartan font family for headings */
  --font-family-heading: "League Spartan", sans-serif;
  --font-family-spartan: "League Spartan", sans-serif;
}

/* Configure all heading elements with League Spartan font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-weight: 600;
  color: black;
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
  display: grid;
  @apply list-disc list-inside gap-8;

  li {
    @apply font-semibold text-gray-900;
    font-size: 3.5svb;
    text-box: trim-start cap text;

    &::marker {
      display: grid;
      place-items: center;
      content: "●";
      font-size: 0.75em;
      color: var(--color-theme-500);
    }
  }

  code {
    @apply bg-theme-200 px-2 rounded-[.25em] text-[.8em];
  }

  ul {
    @apply mt-2;
  }

  ul li {
    @apply font-normal text-gray-700;
    font-size: 0.75em;
    padding-inline-start: 1.2em;

    &::marker {
      font-size: 0;
    }
  }
}

p {
  @apply font-normal text-gray-700;
  font-size: 3.5svb;
}

pre.shiki {
  font-size: 2svb;
}

.presentation {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-marker-group: after;
  scroll-timeline: --progress block;
}

.presentation::-webkit-scrollbar {
  width: 0;
  scrollbar-gutter: auto;
}

.presentation::scroll-marker-group {
  position: fixed;
  inset: auto 0 2svb 0;
  display: flex;
  justify-content: center;
  block-size: 1rem;
  gap: 1rem;
  z-index: 100;
}
