<style>
  .progress {
    animation: article-progress forwards 1ms linear;
    animation-timeline: --progress;
    transform-origin: left;
    scale: 0 1;
  }

  @keyframes article-progress {
    to {
      scale: 1 1;
    }
  }
</style>

<div class="progress h-2 fixed inset-0 z-60 bg-green-500"></div>
