---
import Footer from "../components/footer/Footer.astro";
import Lava from "../components/lava/Lava.astro";
import Progress from "../components/progress/Progress.astro";
import "../styles/global.css";

// Import all slide components
import TitleSlide from "../slides/TitleSlide.astro";
import SpeakerSlide from "../slides/SpeakerSlide.astro";
import IntroSlide from "../slides/IntroSlide.astro";
import BasicSyntaxSlide from "../slides/BasicSyntaxSlide.astro";
import ScrollableBasicsSlide from "../slides/ScrollableBasicsSlide.astro";
import ScrollableAdvancedSlide from "../slides/ScrollableAdvancedSlide.astro";
---

<html lang="sk">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="Astro" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&family=League+Spartan:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>CSS Container Scroll-State Queries</title>
    <meta
      name="description"
      content="CSS Container Scroll-State Queries Presentation"
    />
    <meta name="author" content="Lukas Chylik" />
    <meta
      name="keywords"
      content="CSS Container Scroll-State Queries, CSS, Web Development, Presentation"
    />
    <!-- Shiki syntax highlighting (server-side generated) -->
  </head>
  <body class="m-0 bg-white max-h-svh overflow-hidden">
    <div class="presentation max-h-svh relative">
      <Lava />
      <Progress />
      <TitleSlide order={1} />
      <SpeakerSlide order={2} />
      <IntroSlide order={3} />
      <BasicSyntaxSlide order={4} />
      <ScrollableBasicsSlide order={5} />
      <ScrollableAdvancedSlide order={6} />
    </div>
    <Footer />
  </body>
</html>
