---
import Footer from "../components/footer/Footer.astro";
import Lava from "../components/lava/Lava.astro";
import Progress from "../components/progress/Progress.astro";
import "../styles/global.css";

// Import all slide components
import BasicSyntax from "../slides/BasicSyntax.astro";
import Intro from "../slides/Intro.astro";
import Main from "../slides/Main.astro";
import ScrollableState from "../slides/ScrollableState.astro";
import Speaker from "../slides/Speaker.astro";
import ScrollableStateAdvanced from "../slides/ScrollableStateAdvanced.astro";
import StuckState from "../slides/StuckState.astro";
import StuckStateAdvanced from "../slides/StuckStateAdvanced.astro";
import SnappedState from "../slides/SnappedState.astro";
import SnappedStateAdvanced from "../slides/SnappedStateAdvanced.astro";
import AdvancedSyntax from "../slides/AdvancedSyntax.astro";
import BestPractices from "../slides/BestPractices.astro";
import Outro from "../slides/Outro.astro";
import BrowserSupport from "../slides/BrowserSupport.astro";
import Social from "../slides/Social.astro";
import Intro2 from "../slides/Intro2.astro";
---

<html lang="sk">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/slides/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="Astro" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&family=League+Spartan:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>
      CSS container scroll-state queries | Frontkon 25 | Lukáš Chylik
    </title>
    <meta
      name="description"
      content="Objavte silu CSS container scroll-state queries - modernej technológie pre detekciu stavu scrollovania kontajnerov. Prezentácia z Frontkon 25 od Lukáša Chylika."
    />
    <meta name="author" content="Lukas Chylik" />
    <meta
      name="keywords"
      content="CSS container scroll-state queries, CSS, Web Development, Presentation"
    />
    <!-- Shiki syntax highlighting (server-side generated) -->
  </head>
  <body class="m-0 bg-white max-h-svh overflow-hidden">
    <div class="presentation max-h-svh relative">
      <Lava />
      <Progress />
      <Main order={1} />
      <Speaker order={2} />
      <Intro order={3} />
      <Intro2 order={4} />
      <BasicSyntax order={5} />
      <AdvancedSyntax order={6} />
      <ScrollableState order={7} />
      <ScrollableStateAdvanced order={8} />
      <StuckState order={9} />
      <StuckStateAdvanced order={10} />
      <SnappedState order={11} />
      <SnappedStateAdvanced order={12} />
      <BestPractices order={13} />
      <BrowserSupport order={14} />
      <Social order={15} />
      <Outro order={16} />
    </div>
    <Footer />
  </body>
</html>
