---
import Progress from "../components/progress/Progress.astro";
import Slide from "../components/slide/Slide.astro";
import "../styles/global.css";
---

<html lang="sk">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>CSS Scroll Driven Animations</title>
    <meta name="description" content="Web science presentatio" />
    <meta name="author" content="Lukas Chylik" />
    <meta
      name="keywords"
      content="CSS Scroll Driven Animations, Web Science, Presentation"
    />
  </head>
  <body class="m-0 bg-black">
    <style>
      .presentation {
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
        scroll-marker-group: after;
        scroll-timeline: --presentation block;
        &::-webkit-scrollbar {
          width: 0;
          scrollbar-gutter: auto;
        }

        &::scroll-marker-group {
          position: fixed;
          inset: auto 0 1rem 0;
          display: flex;
          justify-content: center;
          block-size: 1.5rem;
          gap: 1rem;
        }

        &::scroll-button(*) {
          position: absolute;
          right: 1rem;
          display: none;
          place-items: center;
          background-color: var(--black-trans);
          border: 3px solid black;
          border-radius: 100vmax;
          inline-size: 3.5rem;
          block-size: 3.5rem;
          padding: 0;
          aspect-ratio: 1;
          color: white;
          font-size: 1.5rem;
          font-weight: bold;
          opacity: 1;
          transition: opacity 0.3s ease;
          z-index: 100;
        }

        &::scroll-button(*):disabled {
          opacity: 0;
        }

        &::scroll-button(up) {
          content: "↑";
          top: 1rem;
        }

        &::scroll-button(down) {
          content: "↓";
          bottom: 1rem;
        }

        > section {
          scroll-snap-align: start;
          container-type: inline-size;

          &::scroll-marker {
            content: " ";
            background-color: var(--marker-bg, var(--black-trans));
            inline-size: 1.5rem;
            block-size: 1.5rem;
            display: block;
            box-sizing: border-box;
            border-radius: 100vmax;
            border: 2px solid black;
            scale: 1;
            transition:
              scale 0.3s ease,
              background-color 0.3s ease;
          }

          &::scroll-marker:target-current {
            --marker-bg: var(--color-green-500);
            scale: 1.2;
          }
        }
      }
    </style>

    <div class="presentation max-h-svh relative">
      <Progress />
      <Slide title="Najčastejšie problémy">
        <ul>
          <li>
            Performance
            <ul>
              <li>
                Príliš časté volanie handlera bez debouncingu → spomalenie
                stránky <code>requestAnimationFrame</code>
              </li>
            </ul>
          </li>
          <li>
            Viditeľnosť prvku
            <ul>
              <li>
                Manuálne porovnávanie s getBoundingClientRect() → možnosť chýb
                pri výpočtoch
              </li>
            </ul>
          </li>
          <li>
            Nastavenie štýlov
            <ul>
              <li>Chýba overflow alebo výška → scroll event nefunguje</li>
            </ul>
          </li>
          <li>
            Multiscroll eventy
            <ul>
              <li>
                Nepoužitie pasívneho listerneru <code>passive: true</code> → menej
                plynulé scrollovanie
              </li>
            </ul>
          </li>
        </ul>
      </Slide>
      <Slide title="Web Animations API" desc="Nové CSS vlastnosti">
        <ul>
          <li>
            <code>scroll-timeline</code>
          </li>
          <li>
            <code>view-timeline</code>
          </li>
          <li>
            <code>animation-timeline</code>
          </li>
          <li>
            <code>animation-range</code>
          </li>
          <li>
            <code>view-timeline-inset</code>
          </li>
          <li>
            <code>timeline-scope</code>
          </li>
        </ul>
      </Slide>
      <Slide title="animation-timeline" desc="TODO">
        <p>Content</p>
      </Slide>
      <Slide title="Anonymné časové osy" desc="TODO">
        <p>Content</p>
      </Slide>
      <Slide title="scroll-timeline" desc="Časová os scrolovania">
        <p>Content</p>
      </Slide>
      <Slide title="view-timeline" desc="Časová os viditeľnosti elementu">
        <p>Content</p>
      </Slide>
      <Slide title="view-timeline-inset" desc="TODO">
        <p>Content</p>
      </Slide>
      <Slide title="animation-range" desc="TODO">
        <p>Content</p>
      </Slide>
      <Slide title="timeline-scope" desc="TODO">
        <p>Content</p>
      </Slide>
    </div>
    <footer>
      <div>
        <p>Thank you</p>
        <p>Lukas Chylik</p>
      </div>
    </footer>
  </body>
</html>
