---
import Footer from "../components/footer/Footer.astro";
import Lava from "../components/lava/Lava.astro";
import Progress from "../components/progress/Progress.astro";
import Slide from "../components/slide/Slide.astro";
import "../styles/global.css";
---

<html lang="sk">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>CSS Scroll Driven Animations</title>
    <meta name="description" content="Web science presentatio" />
    <meta name="author" content="Lukas Chylik" />
    <meta
      name="keywords"
      content="CSS Scroll Driven Animations, Web Science, Presentation"
    />
  </head>
  <body class="m-0 bg-white max-h-svh overflow-hidden">
    <style>
      .presentation {
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
        scroll-marker-group: after;
        scroll-timeline: --progress block;
        &::-webkit-scrollbar {
          width: 0;
          scrollbar-gutter: auto;
        }

        &::scroll-marker-group {
          position: fixed;
          inset: auto 0 2svb 0;
          display: flex;
          justify-content: center;
          block-size: 1rem;
          gap: 1rem;
          z-index: 100;
        }

        &::scroll-button(*) {
          position: absolute;
          right: 1rem;
          display: none;
          place-items: center;
          background-color: var(--black-trans);
          border: 3px solid white;
          border-radius: 100vmax;
          inline-size: 3.5rem;
          block-size: 3.5rem;
          padding: 0;
          aspect-ratio: 1;
          color: white;
          font-size: 1.5rem;
          font-weight: bold;
          opacity: 1;
          transition: opacity 0.3s ease;
          z-index: 100;
        }

        &::scroll-button(*):disabled {
          opacity: 0;
        }

        &::scroll-button(up) {
          content: "↑";
          top: 1rem;
        }

        &::scroll-button(down) {
          content: "↓";
          bottom: 1rem;
        }
      }
    </style>

    <div class="presentation max-h-svh relative">
      <Lava />
      <Progress />
      <Slide title="Lukáš Chylík" speaker>
        <p>
          VIGo Design System lead developer at AIS Servis<br />
          Frontendisti Brno meetups host<br />
          Lecturer & Mentor<br />
          CSS wizard 🧙🏼
        </p>
      </Slide>
      <Slide title="Najčastejšie problémy">
        <ul>
          <li>
            Performance
            <ul>
              <li>
                Príliš časté volanie handlera bez debouncingu → spomalenie
                stránky <code>requestAnimationFrame</code>
              </li>
            </ul>
          </li>
          <li>
            Viditeľnosť prvku
            <ul>
              <li>
                Manuálne porovnávanie s getBoundingClientRect() → možnosť chýb
                pri výpočtoch
              </li>
            </ul>
          </li>
          <li>
            Nastavenie štýlov
            <ul>
              <li>Chýba overflow alebo výška → scroll event nefunguje</li>
            </ul>
          </li>
          <li>
            Multiscroll eventy
            <ul>
              <li>
                Nepoužitie pasívneho listerneru <code>passive: true</code> → menej
                plynulé scrollovanie
              </li>
            </ul>
          </li>
        </ul>
      </Slide>
      <Slide
        title="Web Animations API"
        desc="Nové CSS vlastnosti"
        image="assets/js-scroll-event-without-debouncing-meme.png"
      >
        <ul>
          <li>
            <code>scroll-timeline</code>
          </li>
          <li>
            <code>view-timeline</code>
          </li>
          <li>
            <code>animation-timeline</code>
          </li>
          <li>
            <code>animation-range</code>
          </li>
          <li>
            <code>view-timeline-inset</code>
          </li>
          <li>
            <code>timeline-scope</code>
          </li>
        </ul>
      </Slide>
      <Slide title="animation-timeline" desc="TODO">
        <p>Content</p>
      </Slide>
      <Slide title="Anonymné časové osy" desc="TODO">
        <p>Content</p>
      </Slide>
      <Slide title="scroll-timeline" desc="Časová os scrolovania">
        <p>Content</p>
      </Slide>
      <Slide title="view-timeline" desc="Časová os viditeľnosti elementu">
        <p>Content</p>
      </Slide>
      <Slide title="view-timeline-inset" desc="TODO">
        <p>Content</p>
      </Slide>
      <Slide title="animation-range" desc="TODO">
        <p>Content</p>
      </Slide>
      <Slide title="timeline-scope" desc="TODO">
        <p>Content</p>
      </Slide>
    </div>
    <Footer />
  </body>
</html>
