<style>
  @keyframes float-path-1 {
    from,
    to {
      translate: -8svb 12svb;
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      rotate: 0deg;
    }
    25% {
      translate: 10svb -15svb;
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
      rotate: 90deg;
    }
    50% {
      translate: 18svb 8svb;
      border-radius: 70% 30% 60% 40% / 30% 40% 60% 50%;
      rotate: 180deg;
    }
    75% {
      translate: -12svb -10svb;
      border-radius: 40% 60% 50% 30% / 70% 50% 40% 60%;
      rotate: 270deg;
    }
  }

  @keyframes float-path-2 {
    from,
    to {
      translate: 8svb -12svb;
      border-radius: 50% 50% 20% 80% / 25% 25% 75% 75%;
      rotate: 0deg;
    }
    20% {
      translate: -15svb 5svb;
      border-radius: 80% 20% 60% 40% / 40% 70% 30% 60%;
      rotate: 72deg;
    }
    40% {
      translate: 12svb 18svb;
      border-radius: 40% 80% 30% 70% / 60% 40% 80% 20%;
      rotate: 144deg;
    }
    60% {
      translate: -18svb 10svb;
      border-radius: 70% 30% 50% 50% / 80% 20% 40% 60%;
      rotate: 216deg;
    }
    80% {
      translate: 6svb -8svb;
      border-radius: 30% 70% 40% 60% / 50% 50% 20% 80%;
      rotate: 288deg;
    }
  }

  @keyframes float-path-3 {
    from,
    to {
      translate: -12svb -15svb;
      border-radius: 80% 20% 50% 50% / 20% 80% 50% 50%;
      rotate: 0deg;
    }
    33% {
      translate: 20svb 6svb;
      border-radius: 50% 50% 80% 20% / 50% 50% 20% 80%;
      rotate: 120deg;
    }
    66% {
      translate: -8svb 22svb;
      border-radius: 20% 80% 50% 50% / 80% 20% 50% 50%;
      rotate: 240deg;
    }
  }

  @keyframes float-path-4 {
    from,
    to {
      translate: 15svb 10svb;
      border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
      rotate: 0deg;
    }
    20% {
      translate: -10svb -12svb;
      border-radius: 60% 40% 30% 70% / 40% 60% 40% 60%;
      rotate: -72deg;
    }
    40% {
      translate: -18svb 16svb;
      border-radius: 30% 70% 40% 60% / 70% 40% 60% 30%;
      rotate: -144deg;
    }
    60% {
      translate: 5svb 8svb;
      border-radius: 70% 30% 60% 40% / 30% 70% 30% 70%;
      rotate: -216deg;
    }
    80% {
      translate: 12svb -18svb;
      border-radius: 25% 75% 40% 60% / 55% 45% 65% 35%;
      rotate: -288deg;
    }
  }

  @keyframes float-path-5 {
    from,
    to {
      translate: -16svb 8svb;
      border-radius: 35% 65% 45% 55% / 70% 30% 60% 40%;
      rotate: 0deg;
    }
    30% {
      translate: 14svb -12svb;
      border-radius: 65% 35% 55% 45% / 40% 60% 30% 70%;
      rotate: 108deg;
    }
    60% {
      translate: -10svb 20svb;
      border-radius: 55% 45% 35% 65% / 60% 40% 70% 30%;
      rotate: 216deg;
    }
    90% {
      translate: 12svb -16svb;
      border-radius: 45% 55% 65% 35% / 30% 70% 40% 60%;
      rotate: 324deg;
    }
  }

  @keyframes float-path-6 {
    from,
    to {
      translate: 10svb -18svb;
      border-radius: 75% 25% 40% 60% / 35% 65% 55% 45%;
      rotate: 0deg;
    }
    16% {
      translate: -14svb -8svb;
      border-radius: 25% 75% 60% 40% / 65% 35% 45% 55%;
      rotate: -58deg;
    }
    32% {
      translate: 18svb 12svb;
      border-radius: 60% 40% 75% 25% / 55% 45% 35% 65%;
      rotate: -116deg;
    }
    48% {
      translate: -12svb 16svb;
      border-radius: 40% 60% 25% 75% / 45% 55% 65% 35%;
      rotate: -174deg;
    }
    64% {
      translate: 8svb -14svb;
      border-radius: 55% 45% 65% 35% / 75% 25% 40% 60%;
      rotate: -232deg;
    }
    80% {
      translate: -16svb 6svb;
      border-radius: 65% 35% 45% 55% / 40% 60% 75% 25%;
      rotate: -290deg;
    }
  }

  @keyframes float-path-7 {
    from,
    to {
      translate: 14svb 12svb;
      border-radius: 45% 55% 75% 25% / 60% 40% 35% 65%;
      rotate: 0deg;
    }
    28% {
      translate: -12svb -16svb;
      border-radius: 55% 45% 25% 75% / 40% 60% 65% 35%;
      rotate: 101deg;
    }
    56% {
      translate: -18svb 14svb;
      border-radius: 75% 25% 55% 45% / 65% 35% 40% 60%;
      rotate: 202deg;
    }
    84% {
      translate: 8svb -10svb;
      border-radius: 25% 75% 45% 55% / 35% 65% 60% 40%;
      rotate: 303deg;
    }
  }

  @keyframes float-path-8 {
    from,
    to {
      translate: -14svb -12svb;
      border-radius: 65% 35% 55% 45% / 45% 55% 75% 25%;
      rotate: 0deg;
    }
    22% {
      translate: 18svb 8svb;
      border-radius: 35% 65% 45% 55% / 55% 45% 25% 75%;
      rotate: -79deg;
    }
    44% {
      translate: -10svb 18svb;
      border-radius: 55% 45% 65% 35% / 75% 25% 55% 45%;
      rotate: -158deg;
    }
    66% {
      translate: 12svb -16svb;
      border-radius: 45% 55% 35% 65% / 25% 75% 45% 55%;
      rotate: -237deg;
    }
    88% {
      translate: -16svb 4svb;
      border-radius: 75% 25% 45% 55% / 55% 45% 65% 35%;
      rotate: -316deg;
    }
  }

  .blob {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .blob-1 {
    left: 2%;
    top: 5%;
    animation: float-path-1 78s linear infinite;
    animation-delay: -7s;
  }

  .blob-2 {
    left: 88%;
    top: 15%;
    animation: float-path-2 105s linear infinite;
    animation-delay: -23s;
  }

  .blob-3 {
    left: 15%;
    top: 85%;
    animation: float-path-3 126s linear infinite;
    animation-delay: -41s;
  }

  .blob-4 {
    left: 92%;
    top: 75%;
    animation: float-path-4 194s linear infinite;
    animation-delay: -67s;
  }

  .blob-5 {
    left: 45%;
    top: 2%;
    animation: float-path-5 92s linear infinite;
    animation-delay: -19s;
  }

  .blob-6 {
    left: 5%;
    top: 45%;
    animation: float-path-6 157s linear infinite;
    animation-delay: -89s;
  }

  .blob-7 {
    left: 75%;
    top: 92%;
    animation: float-path-7 115s linear infinite;
    animation-delay: -31s;
  }

  .blob-8 {
    left: 65%;
    top: 35%;
    animation: float-path-8 134s linear infinite;
    animation-delay: -53s;
  }
</style>
<div class="lava-bg fixed h-svh w-svw overflow-hidden">
  <div class="blob blob-1 bg-theme-500 w-[25svb] aspect-square"></div>
  <div class="blob blob-2 bg-indigo-500 w-[15svb] aspect-square"></div>
  <div class="blob blob-3 bg-theme-500 w-[10svb] aspect-square"></div>
  <div class="blob blob-4 bg-indigo-500 w-[30svb] aspect-square"></div>
  <div class="blob blob-5 bg-theme-500 w-[15svb] aspect-square"></div>
  <div class="blob blob-6 bg-indigo-500 w-[20svb] aspect-square"></div>
  <div class="blob blob-7 bg-theme-500 w-[30svb] aspect-square"></div>
  <div class="blob blob-8 bg-indigo-500 w-[15svb] aspect-square"></div>
</div>
