<style>
  .presentation:has(> section::scroll-marker:target-current) + footer {
    display: none;
  }
</style>

<footer
  class="text-[2svb] py-[1.5svb] px-[8svb] z-50 absolute inset-[auto_0_0_0] flex items-center gap-2 justify-between transition-colors duration-300"
  style="background-color: light-dark(black, hsl(0 0% 5%));"
>
  <svg width="50" height="50" viewBox="0 0 1250 1250" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M645 91V1165M1169 648H81M659 79L87 643M1169 628C1169 928.443 925.443 1172 625 1172C324.557 1172 81 928.443 81 628C81 327.557 324.557 84 625 84C925.443 84 1169 327.557 1169 628Z" stroke="white" stroke-width="40"></path>
  </svg>
  <span class="absolute left-1/2 text-white/50 text-2xl" style="translate: 30% 0;">/ 37</span>
  <a href="https://lukaschylik.dev" class="text-white text-3xl" target="_blank"
    >lukaschylik.dev</a
  >
</footer>
